<div mat-dialog-content>
    <h2> Are you sure you want to delete ? </h2>
</div>
<br>
<div mat-dialog-actions style="margin-left: 80px;">
    <a href="/welcome">
        <button mat-button mat-dialog-close style=" margin-right: 6px; text-decoration: none; border-radius: 0.4em; width: 100px; background-color: rgb(191, 189, 189); height: 30px;" class="mat-elevation-z5">No, Thanks</button>
        <button mat-button mat-dialog-close cdkFocusInitial style=" margin-right: 6px; text-decoration: none; border-radius: 0.4em; width: 100px; background-color: rgb(232, 85, 85); height: 30px;" class="mat-elevation-z5">Yes I am sure</button>
    </a>
</div>