<div class="body1">
    <div class="text-center">
        <br>
        <h1 style="font-family:fantasy; font-size: 2.5em;">Sigile Retro</h1>
        <h2>Agile made simple and fun</h2>
        <form [formGroup]="loginForm" class="centerbody mat-elevation-z5">
            <div class="example-container">

                <mat-form-field appearance="fill">
                    <label for="" style="font-weight: 500 ; font-size: 1.4em;"> Email Id : </label>
                    <!-- <mat-label style="color: black;">Enter your email</mat-label> -->
                    <input formControlName="email1" matInput placeholder="pat@example.com" class="input">
                    <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
                    <!-- </mat-form-field>
                <br>
                <mat-form-field appearance="fill"> --><br><br>
                    <!-- <mat-label>Enter your password</mat-label> -->
                    <label for="" style="font-weight: 500 ; font-size: 1.4em;"> Password : </label>
                    <input formControlName="password1" matInput [type]=" hide ? 'password' : 'text' " class="input">
                    <button mat-icon-button matSuffix (click)="hide=! hide " [attr.aria-label]=" 'Hide password' " [attr.aria-pressed]="hide ">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
                </mat-form-field>


            </div>

            <button mat-flat-button color="warn">LOGIN</button>

            <br> <br>
            <div id="gSignInWrapper">
                <span class="label">Login with :</span> <br>
                <div id="customBtn" class="customGPlusSignIn">
                    <span id="icon1"></span>
                    <span class="buttonText">Continue with Google</span>
                </div>
                <br>
                <div id="customBtn" class="customGPlusSignIn">
                    <span id="icon2"></span>
                    <span class="buttonText"> Continue with Facebook</span>
                </div>
                <br>
                <div id="customBtn" class="customGPlusSignIn">
                    <span id="icon3"></span>
                    <span class="buttonText"> Continue with Microsoft</span>
                </div>
            </div>
            <br><br>
        </form>
    </div>
</div>